@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Marcellus', serif;
    /* font-family: 'Jost', sans-serif; */
}

.promotion-section {
    background-image: url("https://i.ibb.co/V2GzD25/patrick-robert-doyle-AH8z-KXq-FITA-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-primari {
    padding: 10px 25px;
    border: unset;
    /* border-radius: 5px; */
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px #b99d75;
    box-shadow: 4px 8px 19px -3px #b99d75;
    transition: all 250ms;
    overflow: hidden;
}

.button-primari::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #b99d75;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px #b99d75;
    box-shadow: 4px 8px 19px -3px #b99d75;
    transition: all 250ms
}

.button-primari:hover {
    color: #e8e8e8;
}

.button-primari:hover::before {
    width: 100%;
}

.nav-a {
    letter-spacing: 3.9px;
    text-decoration: none solid rgb(62, 57, 48);
    color: #776F60;
    position: relative;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.read-more:hover .line {
    width: 50px;
    transition: all 0.3s ease;
}

.nav-a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #776F60;
    transition: all 0.3s ease;
}

.nav-a:hover::before {
    width: 100%;
}